<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="firstName">Firstname: </label>
    <input type="text" id="firstName" formControlName="firstname"/>
    <span errorMessage [target]="registerForm.controls.firstname"></span>

    <label for="lastName">Lastname: </label>
    <input type="text" id="lastName" formControlName="lastname"/>
    <span errorMessage [target]="registerForm.controls.lastname"></span>

    <label for="userName">Username: </label>
    <input type="text" id="userName" formControlName="username"/>
    <span errorMessage [target]="registerForm.controls.username"></span>

    <label for="email">Email: </label>
    <input type="email" id="email" formControlName="email"/>
    <span errorMessage [target]="registerForm.controls.email"></span>

    <label for="password">Password: </label>
    <input type="password" id="password" formControlName="password"/>
    <span errorMessage [target]="registerForm.controls.password"></span>
    
    <span errorMessage [target]="registerForm"></span>

    <label for="confirmPassword">Confirm password: </label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword"/>
    <span errorMessage [target]="registerForm.controls.confirmPassword"></span>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>


<!--Login callout-->
<div>
    <p>Already have an account in PulseHub? 
        <a routerLink="/auth/login">Log in</a>
    </p>
</div>

<pre>{{ registerForm.value | json }}</pre>